* {
    box-sizing: border-box;
    margin: 0;
}

/* |--------------| */
/* | LEFT SECTION | */
/* |--------------| */

.left-section{
    width: 20%;
    position: fixed;
    background-color: #4B5056;
    height: 100%;
}
/*  LOGO */
.left-logo{
    padding-top: 100px;
    padding-bottom: 100px;
}
/* MENU */
.left-section-menus a{
    text-decoration: none;
}
.left-section-menus h1{
    width: 100%;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: medium;
    font-weight: lighter;
    margin-bottom: 1px;
    background-color: #393E42;
    padding: 10px;
}
.m1  h1{
    border-left: 6px solid #35AAE0;
}
.m2  h1{
    border-left: 6px solid #E9B144;
}
.m3  h1{
    border-left: 6px solid #9353E7;
}
.m4  h1{
    border-left: 6px solid #38E593 ;
}
.m5  h1{
    border-left: 6px solid #E4367B ;
}

/* |---------------| */
/* | RIGTH SECTION | */
/* |---------------| */

.right-section{
    width: 80%;
    margin-left: 20%; 
}

/*  HOME  */

/*  row1 responsivelayout */

.home-row1{
    display: flex;
    background-image: url(./assets/homebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    height: 800px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.home-row1-col1 h1{
    font-size: 40px;
}
.home-row1-col1 input[type="button"]{
    padding: 15px;
    background-color: #38A9E3;
    color: white;
    font-weight: 800;
    border: none;
    border-bottom: 5px solid #1d8fc9;
    cursor: pointer;
}

/*  row2 welcome  */

.home-row2-welcometemplate{
    text-align: center;
    padding: 30px;
}
.home-row2-welcometemplate h3{
    color:#38A9E3;
    font-size: 30px;
    font-weight: lighter;
}
.home-row2-welcometemplate p{
    font-weight: lighter;
    font-size: 20px;
}
.home-row2-welcometemplate span{
    color: #38A9E3;
} 

/*  ABOUT US  */

.aboutus{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    border-top: 10px solid #E9B144 ;
}

/*  row1 header  */

.about_us_header{
    background-color: #E9B144;
    padding: 10px;
    width: 20%;
    height: 60px;
    margin-top: -1px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-weight: 400;
}

/* row2 profile */

.aboutus-profile{
    display: grid;
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.grid-card1 , .grid-card2{
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.grid-card3{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.aboutus-profile h1{
    color: #E9B144;
    text-align: center;
    margin-top: 10px;
    font-weight: lighter;
}
.aboutus-profile p{
    text-align: center;
    margin-top: 8px;
}

/* row3 management */

.about_row3{
    display: grid;
    margin-top: 50px;
}
.about_row3_img{
    float: right;
    margin: 0px 0px 15px 20px;
    width: 40%;
    height: 250px;
}
.about_row3 h2{
    text-transform: uppercase;
    color: #E9B144 ;
    font-weight: lighter;
}


/*  SERVICES  */

.services {
    display: grid; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    position: relative;
    border-top: 10px solid #9353E7;
}

/* row1 header */

.services_header{
    padding: 10px;
    width: 20%;
    height: 60px;
    margin-top: -1px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    background: #9353E7;
    font-weight: 400;
}

/* row2 services */

.services_row2{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
.service_items{
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: #9353E7;
    color: #fff;
    align-items: center;
    justify-items: center;
    padding: 20px;
    vertical-align: middle;
}

/* row3 skills */

.services_row3{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: auto;
    align-items: baseline;
    margin-top: 60px;
}

.services_row3  h2{
    font-weight: 400;
    line-height: 5rem;
    color: #8a2be2;
}
.container { 
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 5px;
}
.skill {
    background-color: #8a2be2;
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 12px;
    border-radius: 5px; 
}
.graphics {
    width: 90%;
}
.html5css3 {
    width: 75%;
}
.wordpress {
    width: 66%;
}
.marketing {
    width: 88%;
}


/*  PORTFOLIO  */

.portfolio {
    display: grid; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    position: relative;
    border-top: 10px solid #38E593;
}

/* row1 header */

.portfolio_header{
    padding: 10px;
    width: 20%;
    height: 60px;
    margin-top: -1px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    background: #38E593;
    font-weight: 400;
}

/* row2 images */

.portfolio_row2{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 30px;
}
.portfolio_row2 img{
    width: 250px;
    height: 250px;
}
.portfolio_row2 h2{
    text-align: center;
    color: #24bd76;
    margin: 20px 0px 20px 0px;
    font-weight: lighter;
}


/* row3 button */

.portfolio_row3 input[type="button"]{
    padding: 15px;
    background-color: #38E593;
    color: white;
    font-weight: 800;
    border: none;
    border-bottom: 5px solid #24bd76;
    text-align: center;
    margin: 30px 0px 20px 0px;
    cursor: pointer;
}
.loadmore_button{
    text-align: center;
    margin: 30px 0px 20px 0px;
}



/*  CONTACT  */

.contact {
    display: grid; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    position: relative;
    border-top: 10px solid #E4367B;
}

/* row1 contact header */


.contact_header{
    padding: 10px;
    width: 20%;
    height: 60px;
    margin-top: -1px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    background: #E4367B;
    font-weight: 400;
}

/* row2 map */


.mapouter{
    position:relative;
    width:100%;
    height:500px;
    margin-bottom: 50px;
}
.gmap_canvas {
    overflow:hidden;
    width:100%;
    height:500px;
}
.gmap_iframe { 
    width:100%!important;
    height:500px!important;
} 

/*  row3 details */

.contact_row3_details{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 50px;
}
.contact_row3_details span{
    color: red;
}

/*  row4 buttton */

.contact_row4_button input[type="button"]{
    padding: 15px;
    background-color: #E4367B;
    color: white;
    font-weight: 800;
    border: none;
    border-bottom: 5px solid #810e3c;
    text-align: center;
    margin: 30px 0px 20px 0px;
    cursor: pointer;
}
.sendmessage_button{
    text-align: left;
    margin: 30px 0px 20px 0px;
}

/*  FOOTER  */

/*  row1 icons */

.row1_footer_icon{
    display: grid;
    grid-template-columns: auto;
    background-color:#4B5056;
    color: white;
    height: 100px;
    margin-left: 0.2%;
    border-left: 7px solid #393E42;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 20px;
    cursor: pointer;
    font-size: 25px;
}
.row2_footer_copyright{
    display: grid;
    grid-template-columns: auto;
    height: 60px;
    margin-left: 00.2%;
    background-color:#393E42;
    color: white;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
